<div>
  <%= render partial: 'user_info', locals: { user: @user } %>
  <div>
    <% if(current_user.id == @user.id) %>
      <%= render template: 'posts/_create_posts' %>
    <% end %>
    <%= render template: 'posts/index', locals: { :@tweets => @user.tweets } %>
  </div>
</div>