<% value = (@counter.odd?) ?  'True' : "False" %>
<div class="choices">
  <%= label_tag :content, value %> 
  <%= f.hidden_field :content, :value => value %> 
  <%= f.radio_button :correct, true , :class => "checked" %>
</div>