<% if @question.present? %>
<div class = "question">
  <div class="heading"></div>
  <div class = "question_content">
    Q. <%=@count.presence || @question.id %>
    <%= @question.description %>?
  </div>
  <div>
    <% @question.choices.each do |choice| %>

      <div class="answer_choices">
        <%= radio_button_tag '[user_answer][choice][' + choice.id.to_s + '][_destroy]', "", check_user_type(params, choice), :disabled => check_user_type(params, ""), :class => 'checked' %>
        <%= choice.content %>  
      </div>
    <%end%>
  </div>
</div>
<%end%>