<div class ="question">
  <div class="heading">SCORECARD</div>
  <div class="score_details">
    TOTAL QUESTIONS
  </div>
  <div class="result"> 
    <%= @result.quiz.questions.size %>
  </div>
  <div class="score_details">
    CORRECT
  </div>
  <div class="result"> 
    <%= @result.score %>
  </div>
  <div class="score_details">
    INCORRECT
  </div>
  <div class="result"> 
    <%= @result.incorrect %>
  </div>
  <div class="score_details">
    TOTAL
  </div>
  <div class="result">
    <%= @result.score %>
  </div>
</div>


